In [7]:
# the combined dataset of 2012 and 2013 
import pandas as pd
from pickup_utilities import *
df = pd.read_csv("../data/complete.csv")
df['tstamp'] = df.apply(tstampCalc, axis = 1)
df.head()

,Unnamed: 0,datetime,year,month,day,hour,minute,A_sigma,B_sigma,C_sigma,...,N_count,O_count,P_count,Q_count,U_count,count,sigma,mean,std,tstamp
0,0,2012-02-01 00:00:00,2012,2,1,0,0,3.771,0.126,2.798,...,2,4,8,79,5,494,117.266000,0.237381,0.301358,0:00
1,1,2012-02-01 00:30:00,2012,2,1,0,30,3.555,0.110,1.809,...,2,4,8,79,5,494,179.440999,0.363241,0.838331,0:30
2,2,2012-02-01 01:00:00,2012,2,1,1,0,3.831,0.068,0.956,...,2,4,8,79,5,494,161.779999,0.327490,0.763164,1:00
3,3,2012-02-01 01:30:00,2012,2,1,1,30,2.852,0.085,0.925,...,2,4,8,79,5,494,144.735001,0.292986,0.704198,1:30
4,4,2012-02-01 02:00:00,2012,2,1,2,0,2.224,0.097,1.071,...,2,4,8,79,5,494,136.147000,0.275601,0.674146,2:00

In [3]:
df.head()

,Unnamed: 0,datetime,year,month,day,hour,minute,A_sigma,B_sigma,C_sigma,...,N_count,O_count,P_count,Q_count,U_count,count,sigma,mean,std,tstamp
0,0,2012-02-01 00:00:00,2012,2,1,0,0,3.771,0.126,2.798,...,2,4,8,79,5,494,117.266000,0.237381,0.301358,0:00
1,1,2012-02-01 00:30:00,2012,2,1,0,30,3.555,0.110,1.809,...,2,4,8,79,5,494,179.440999,0.363241,0.838331,0:30
2,2,2012-02-01 01:00:00,2012,2,1,1,0,3.831,0.068,0.956,...,2,4,8,79,5,494,161.779999,0.327490,0.763164,1:00
3,3,2012-02-01 01:30:00,2012,2,1,1,30,2.852,0.085,0.925,...,2,4,8,79,5,494,144.735001,0.292986,0.704198,1:30
4,4,2012-02-01 02:00:00,2012,2,1,2,0,2.224,0.097,1.071,...,2,4,8,79,5,494,136.147000,0.275601,0.674146,2:00

In [ ]:
# Create a dataframe representing energy consumption for February 11th 2012, the day
# of the England vs. Italy game.

df_England_Italy_2_11 = df.loc[df['day']==11].loc[df['month']==6].loc[df['year']==2013]
df_England_Italy_2_11 = df_England_Italy_2_11.set_index(df_England_Italy_2_11["tstamp"])
df_England_Italy_2_11.head(5)

In [ ]:
# Plot the day's energy consumption.

import matplotlib.pyplot as plt
%matplotlib inline

plt.figure(figsize=(12,4))
plt.plot(df_England_Italy_2_11["tstamp"],df_England_Italy_2_11["sigma"])
plt.xticks(rotation='vertical')
plt.title("England vs. Italy (Rugby): 2/11/2012 16:00 GMT [5.03m]")
plt.xlabel("time stamp")
plt.ylabel("Energy Consumption (kW-h/hh")
plt.grid()
plt.plot(['16:00', '18:00'], [160, 160], color='r', linestyle='-', linewidth=2)
plt.show()

In [ ]:
# Create date series for each Acorn group.

# Acorn1 = A, B, C
# Acorn2 = D, E
# Acorn3 = F, G, H, I, J
# Acorn4 = K, L, M, N
# Acorn5 = O, P, Q

Acorn1  = df_England_Italy_2_11["A_sigma"] + df_England_Italy_2_11["B_sigma"] + df_England_Italy_2_11["C_sigma"]
Acorn2  = df_England_Italy_2_11["D_sigma"] + df_England_Italy_2_11["E_sigma"]
Acorn3  = df_England_Italy_2_11["F_sigma"] + df_England_Italy_2_11["G_sigma"] + df_England_Italy_2_11["H_sigma"] \
                                           + df_England_Italy_2_11["I_sigma"] + df_England_Italy_2_11["J_sigma"]
Acorn4  = df_England_Italy_2_11["K_sigma"] + df_England_Italy_2_11["L_sigma"] + df_England_Italy_2_11["M_sigma"] \
                                           + df_England_Italy_2_11["N_sigma"]
Acorn5  = df_England_Italy_2_11["O_sigma"] + df_England_Italy_2_11["P_sigma"] + df_England_Italy_2_11["Q_sigma"]

In [ ]:
# Plot the day's energy consumption for each Acorn group using a multiline plot.

plt.figure(figsize=(12,4))
hnd1, = plt.plot(df_England_Italy_2_11["tstamp"],Acorn1, label = 'Acorn 1')
hnd2, = plt.plot(df_England_Italy_2_11["tstamp"],Acorn2, label = 'Acorn 2')
hnd3, = plt.plot(df_England_Italy_2_11["tstamp"],Acorn3, label = 'Acorn 3')
hnd4, = plt.plot(df_England_Italy_2_11["tstamp"],Acorn4, label = 'Acorn 4')
hnd5, = plt.plot(df_England_Italy_2_11["tstamp"],Acorn5, label = 'Acorn 5')
plt.xticks(rotation='vertical')
plt.title("England vs. Italy (Rugby): 2/11/2012 16:00 GMT [5.03m]")
plt.xlabel("time stamp")
plt.ylabel("Energy Consumption (kW-h/hh")
plt.grid()
plt.plot(['16:00', '18:00'], [160, 160], color='r', linestyle='-', linewidth=2)
plt.legend(handles=[hnd1, hnd2, hnd3, hnd4, hnd5], loc="right")
plt.show()

In [ ]:
# Normalize the energy consumption for each Acorn group using the timestamp 19:30 as the reference value.
# This is to compare trends amongst the groups.

Acorn1 = Acorn1 / Acorn1['19:30']
Acorn2 = Acorn2 / Acorn2['19:30']
Acorn3 = Acorn3 / Acorn3['19:30']
Acorn4 = Acorn4 / Acorn4['19:30']
Acorn5 = Acorn5 / Acorn5['19:30']

In [ ]:
# Plot the day's normalized energy consumption for each Acorn group using a multiline plot.

plt.figure(figsize=(12,4))
hnd1, = plt.plot(df_England_Italy_2_11["tstamp"],Acorn1, label = 'Acorn 1')
hnd2, = plt.plot(df_England_Italy_2_11["tstamp"],Acorn2, label = 'Acorn 2')
hnd3, = plt.plot(df_England_Italy_2_11["tstamp"],Acorn3, label = 'Acorn 3')
hnd4, = plt.plot(df_England_Italy_2_11["tstamp"],Acorn4, label = 'Acorn 4')
hnd5, = plt.plot(df_England_Italy_2_11["tstamp"],Acorn5, label = 'Acorn 5')
plt.xticks(rotation='vertical')
plt.title("England vs. Italy (Rugby): 2/11/2012 16:00 GMT [5.03m]")
plt.xlabel("time stamp")
plt.ylabel("Normalized Energy Consumption (kW-h/hh")
plt.grid()
plt.plot(['16:00', '18:00'], [0.4, 0.4], color='r', linestyle='-', linewidth=2)
plt.legend(handles=[hnd1, hnd2, hnd3, hnd4, hnd5], loc="right")
plt.show()

In [ ]:
# Create a dataframe representing energy consumption for February 4th 2012, the day
# of the England vs. Scotland game.

df_England_Scotland_2_4 = df.loc[df['day']==4]
df_England_Scotland_2_4 = df_England_Scotland_2_4.set_index(df_England_Scotland_2_4["tstamp"])
df_England_Scotland_2_4.head(5)

In [ ]:
# Create a plotting function.

def eventPlotter(dfx, title, tsb, tse):
    import matplotlib.pyplot as plt
    %matplotlib inline
    plt.figure(figsize=(12,4))
    plt.plot(dfx["tstamp"],dfx["sigma"])
    plt.xticks(rotation='vertical')
    plt.title(title)
    plt.xlabel("time stamp")
    plt.ylabel("Energy Consumption (kW-h/hh")
    plt.grid()
    plt.plot([tsb, tse], [160, 160], color='r', linestyle='-', linewidth=2)
    plt.show()

# Enter details for the England vs. Scotland game, which took place on day 4
# between 17:00 and 19:00 (approx).

dfevent = df_England_Scotland_2_4
title   = "England vs. Scotland (Rugby): 2/4/2012 17:00 GMT [6.48m]"
tsb     = '17:00'
tse     = '19:00'

# Plot the day's energy consumption.

eventPlotter(dfevent, title, tsb, tse)

In [ ]:
# Create a dataframe representing energy consumption for February 25th 2012, the day
# of the England vs. Wales game.

df_England_Wales_2_25 = df.loc[df['day']==25]
df_England_Wales_2_25 = df_England_Wales_2_25.set_index(df_England_Wales_2_25["tstamp"])
df_England_Wales_2_25.head(5)

In [ ]:
# Enter details for the England vs. Wales game, which took place on day 25
# between 16:00 and 18:00 (approx).

dfevent = df_England_Wales_2_25
title   = "England vs. Wales (Rugby): 2/25/2012 16:00 GMT [5.66m]"
tsb     = '16:00'
tse     = '18:00'

# Plot the day's energy consumption.

eventPlotter(dfevent, title, tsb, tse)